{% extends 'forms/base.html' %}

{% block content %}
{{ student.csrf_token }}
{{ student.hidden_tag() }}
{% if student.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
{% endif %}
{% if student.errors %}
{{ student.errors }}
{% endif %}
    <h1 style="width: 100%">
        {% block title %} Edit {{ student.firstname.data }}
                               {{ student.lastname.data }}'s Details
        {% endblock %}
    </h1>
    <form method="POST" action="">
        <p>
            <label for="firstname">First Name</label>
            <input type="text" name="firstname"
                   value={{ student.firstname.data }}
                   placeholder="First name">
            </input>
        </p>

        <p>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname"
                   value={{ student.lastname.data }}
                   placeholder="Last name">
            </input>
        </p>

        <p>
            <label for="email">Email</label>
            <input type="email" name="email"
                   value={{ student.email.data }}
                   placeholder="Student email">
            </input>
        </p>

		<p>
            <label for="age">Age</label>
            <input type="number" name="age"
                   value={{ student.age.data }}
                   placeholder="Age">
            </input>
        </p>

		<p><!-- value={{ student.active.data }} -->
            <label for="active">Current Student</label>
            <input type="checkbox" name="active"
                   
                   placeholder="active"
				   {% if student.active.data %}
				   checked
				   {% endif %}
				   >
            </input>
        </p>

        <p>
        <label for="bio">Bio</label>
        <br>
        <textarea name="bio"
                  placeholder="Bio"
                  rows="15"
                  cols="60"
                  >{{ student.bio.data }}</textarea>
        </p>
        <p>
            <button type="submit" name="set_student">Submit</button>
        </p>
    </form>
{% endblock %}