{% extends 'forms/base.html' %} {% block content %}
<h1 class="title">{% block title %} Students {% endblock %}</h1>
<div class="content">
	{% for student in students %}
	<div class="student">
		<p><b>#{{ student.id }}</b></p>
		<b>
			<p class="name">
				<a href="{{ url_for('.get_student', student_id=student.id)}}">
					{{ student.firstname }} {{ student.lastname }}
				</a>
			</p>
		</b>
		<p>{{ student.email }}</p>
		<p>{{ student.age }} years old.</p>
		<p>Joined: {{ student.created_at }}</p>
		<a href="{{ url_for('.set_student', student_id=student.id)}}"> Edit </a>
	</div>
	{% endfor %}
</div>
{% endblock %}
